h1 {
    color: rgb(8, 8, 8);
}
.header-h1 {
    background-color: rgb(255, 255, 255);
    font-family: Arial;
    text-align: center;
}
.main-css {
    background-color: rgb(82, 81, 81);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
}
.container{
    display: flex;
    text-align: justify;
    margin: 50px;
    font-family: 'Times New Roman';
    color: rgb(77, 74, 74);
    font-size: small;
    font-weight: 500;
}
.colorletter-container {
    background-color: rgb(255, 255, 255);
    font-family: Arial;
    text-align: left;
}
.container2{
    display: block;
    text-align: justify;
}
.container3{
    display: block;
    text-align: justify;
}
.colorletter td{
    padding: 0.6rem;
    text-align: left;
    font-weight: 600; 
    font-size: medium;     
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text-cool-gray { color: #3F4353; }
.text-warm-gray { color: #9A9693; }
.text-amber { color: #A55818; }
.text-green { color: #1F523E; }
.text-cyan { color: #437A89; }
.text-red { color: #C72B2B; }
.text-yellow { color: #ECA025; }
.text-emerald { color: #135941; }
.text-sky { color: #368EBB; }
.text-orange { color: #E37433; }
.text-lime { color: #577F2B; }
.text-teal { color: #124840; }
.text-fuchsia { color: #9631A4; }
.text-pink { color: #9D2A58; }
.text-rose { color: #E07F91; }
.text-blue-gray { color: #1F2333; }
.text-purple { color: #6F29A4; }
.text-violet { color: #462184; }
.text-indigo { color: #353077; }
.text-blue { color: #253B81; }
.colorbackground {
    border-spacing: 0rem;
}
.colorbackground td{
    padding: 0.5em;
    text-align: left;
    font-weight: 500; 
    font-size: medium; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
}
.bg-blue-gray { background-color: #0F172B; }
.bg-cool-gray { background-color: #3F4353; }
.bg-warm-gray { background-color: #9A9693; }
.bg-amber { background-color: #A55818; }
.bg-green { background-color: #1F523E; }
.bg-gray { background-color: #808080; }
.bg-red { background-color: #FF0000; }
.bg-yellow { background-color: #F69E0A; }
.bg-emerald { background-color: #135941; }
.bg-true-gray { background-color: #404040; }
.bg-orange { background-color: #E37433; }
.bg-lime { background-color: #577F2B; }
.bg-teal { background-color: #124840; }
.bg-fuchsia { background-color: #9631A4; }
.bg-pink { background-color: #9D2A58; }
.bg-rose { background-color: #F4405F; }
.bg-purple { background-color: #6C21AA; }
.bg-violet { background-color: #6F29A4; }
.bg-indigo { background-color: #302E81; }
.bg-blue { background-color: #1D3A89; }
.bg-sky { background-color: #0284C8; }
.bg-cyan { background-color: #437A89; 
}
.table2 td{
color: white;
font-weight: normal;
font-size: large;
font-family: Arial;
}
.gradient {
    width: 250px;  
    height: 250px;  
    background-color: black;  
    display: grid; 
    grid-template-columns: repeat(6, 1fr); 
    grid-template-rows: repeat(6, 1fr); 
    gap: 12px;  
    border: 1px solid black;  
    padding: 5px;
    box-sizing: border-box;  
}
.gradient div {
    border-radius: 2px; 
    width: 100%;
    height: 100%;
}
.a1 { background-color: #808cf8; }
.a2 { background-color: #a78cfb; }
.a3 { background-color: #c184fd; }
.a4 { background-color: #e979fa; }
.a5 { background-color: #f472b5; }
.a6 { background-color: #fd7185; }
.b1 { background-color: #6365ef; }
.b2 { background-color: #8b5cf4; }
.b3 { background-color: #a855f5; }
.b4 { background-color: #d945ee; }
.b5 { background-color: #ec4899; }
.b6 { background-color: #f4405f; }
.c1 { background-color: #5045e6; }
.c2 { background-color: #7b3aed; }
.c3 { background-color: #9233e9; }
.c4 { background-color: #bf26d5; }
.c5 { background-color: #db2879; }
.c6 { background-color: #db2879; }
.d1 { background-color: #4238cb; }
.d2 { background-color: #6d27da; }
.d3 { background-color: #7e22cf; }
.d4 { background-color: #a31cb0; }
.d5 { background-color: #be185e; }
.d6 { background-color: #bd133c; }
.e1 { background-color: #372fa4; }
.e2 { background-color: #5d21b4; }
.e3 { background-color: #6c21aa; }
.e4 { background-color: #851990; }
.e5 { background-color: #9c164d; }
.e6 { background-color: #a1123b; }
.f1 { background-color: #322d81; }
.f2 { background-color: #442486; }
.f3 { background-color: #591c87; }
.f4 { background-color: #6f1a74; }
.f5 { background-color: #831843; }
.f6 { background-color: #881336; }